https://github.com/mayankpadhi/Placement-Preparation-Portal

https://github.com/Ayush-Kanduri/Placement-Cell-Application?tab=readme-ov-file


https://github.com/MoinMN/college-placement-management-system

https://github.com/xHarshit/CareerConnect-Smart-Campus-Placement-Portal